*{
	display: flex;
	align-items: center;
	
}

.paginator p{
	width: 81px;
	height: 18px;

	font-size: 15px;
	font-weight: 700;
	font-family: "Roboto", "arial";
	line-height: 17.58px;
	color:#555868;

}



